[submodule ".vim/bundle/unite.vim"]
	path = .vim/bundle/unite.vim
	url = git://github.com/Shougo/unite.vim.git
[submodule ".vim/bundle/vimproc"]
	path = .vim/bundle/vimproc
	url = git://github.com/Shougo/vimproc.git
[submodule ".vim/bundle/vim-smartchr"]
	path = .vim/bundle/vim-smartchr
	url = git://github.com/kana/vim-smartchr.git
[submodule ".vim/bundle/caw.vim"]
	path = .vim/bundle/caw.vim
	url = git://github.com/tyru/caw.vim.git
[submodule ".vim/bundle/vimfiler"]
	path = .vim/bundle/vimfiler
	url = https://github.com/Shougo/vimfiler.git
[submodule ".vim/bundle/vim-qfreplace"]
	path = .vim/bundle/vim-qfreplace
	url = https://github.com/thinca/vim-qfreplace.git
[submodule ".vim/bundle/unite-tag"]
	path = .vim/bundle/unite-tag
	url = https://github.com/tsukkee/unite-tag.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/wildfire.vim"]
	path = .vim/bundle/wildfire.vim
	url = https://github.com/gcmt/wildfire.vim.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-lucius"]
	path = .vim/bundle/vim-lucius
	url = https://github.com/jonathanfilip/vim-lucius.git
[submodule ".vim/bundle/molokai"]
	path = .vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule ".vim/bundle/vim-perl"]
	path = .vim/bundle/vim-perl
	url = https://github.com/vim-perl/vim-perl.git
[submodule ".vim/bundle/yankround.vim"]
	path = .vim/bundle/yankround.vim
	url = https://github.com/LeafCage/yankround.vim.git
[submodule ".vim/bundle/neomru.vim"]
	path = .vim/bundle/neomru.vim
	url = https://github.com/Shougo/neomru.vim.git
[submodule ".vim/bundle/lexima.vim"]
	path = .vim/bundle/lexima.vim
	url = https://github.com/cohama/lexima.vim.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
